<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="px-4 my-4" style="background-color: #FFDBC9;">編集</h1>

      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <strong><%= @post.errors.count %> errors occurred:</strong>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form_with model: @post, local: true do |f| %>
        <div class="form-group mb-3">
          <%= f.label :post_image, "現在の投稿画像", class: "form-label" %><br>
          <% if @post.post_image.attached? %>
            <%= image_tag @post.post_image, size: "100x100", class: "current-image mb-3 img-thumbnail" %>
          <% else %>
            <p>画像がありません</p>
          <% end %>
          <%= f.label :post_image, "新しい投稿画像", class: "form-label" %>
          <%= f.file_field :post_image, placeholder: "投稿画像", accept: "image/*", class: "form-control-file", style: "appearance: none;" %>
        </div>
      
        <div class="form-group mb-3">
          <%= f.label :title, "タイトル", class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        
        <div class="form-group mb-3">
          <%= f.label :tag_list, "タグ", class: "form-label" %>
          <%= f.text_field :tag_list, value: @post.tags.map(&:name).join(", "), class: "form-control" %>
        </div>
        
        <div class="form-group mb-3">
          <%= f.label :body, "本文", class: "form-label" %>
          <%= f.text_area :body, class: "form-control", rows: 5 %>
        </div>
        
        <div class="form-group mb-3">
          <%= f.label :status, "ステータス", class: "form-label" %><br>
          <div class="form-check form-check-inline">
            <%= f.radio_button :status, "active", class: "form-check-input", id: "post_status_active" %>
            <%= f.label :status_active, "公開", class: "form-check-label", for: "post_status_active" %>
          </div>
          <div class="form-check form-check-inline">
            <%= f.radio_button :status, "inactive", class: "form-check-input", id: "post_status_inactive" %>
            <%= f.label :status_inactive, "非公開", class: "form-check-label", for: "post_status_inactive" %>
          </div>
        </div>
      
        <div class="form-group mb-3">
          <%= f.submit '投稿', class: "btn btn-primary" %>
        </div>
        
        <div class="form-group mb-3">
          <%= link_to "Show", post_path(@post.id) %>
          <%= link_to "Back", posts_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>