<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/sidebar', user: @user %>
      <%= render 'public/posts/sidebar', post: @new_post %>
    </div>
    <div class="col-md-9 mt-3">
      <h2>投稿詳細</h2>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <%= link_to image_tag(@user.get_profile_image(100, 100), class: "rounded-circle mb-3"), user_path(@user.id) %>
            </div>
            <div class="col-md-5">
              <h4><%= @post.title %></h4>
              <p><%= @post.body %></p>
              <p>
                <strong>タグ: </strong>
                <% @post.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag), class: "badge bg-info text-white m-1" %>
                <% end %>
                <span id="favorite-button">
                  <% if user_signed_in? %>
                    <% if @post.favorited_by?(current_user) %>
                      <%= link_to '♥', post_favorite_path(@post, current_user.favorites.find_by(post: @post)), method: :delete, remote: true, class: 'btn btn-sm btn-outline-danger favorite-link ms-2' %>
                    <% else %>
                      <%= link_to '♡', post_favorites_path(@post), method: :post, remote: true, class: 'btn btn-sm btn-outline-danger favorite-link ms-2' %>
                    <% end %>
                  <% end %>
                </span>
              </p>
              <p>
                <strong>投稿日: </strong><%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </p>
            </div>
            <div class="col-md-2">
              <%= image_tag(@post.get_image, size: "100x100") %>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-start">
              <% if current_user == @post.user %>
                <div class="d-flex">
                  <%= link_to "Edit", edit_post_path(@post.id), class: 'btn btn-sm btn-success me-2' %>
                  <%= link_to "Destroy", post_path(@post.id), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "Are you sure?" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="mt-5">
            <%= render 'public/comments/comment', post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>