<div class="container">
  <div class="row">
    <h2 class="px-4 my-4" style="background-color: #FFDBC9;">投稿編集</h2>
  </div>
  <%= form_with model: @post, url: admin_post_path(@post), method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :post_image, "現在の投稿画像" %><br>
      <% if @post.post_image.attached? %>
        <%= image_tag @post.post_image, size: "100x100", class: "current-image" %>
      <% else %>
        <p>画像がありません</p>
      <% end %>
      <%= f.label :post_image, "新しい投稿画像" %>
      <%= f.file_field :post_image, class: "form-control", accept: "image/*" %>
    </div>
  
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :body, "本文" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :status, "ステータス" %><br>
      <%= f.radio_button :status, "active" %> 有効
      <%= f.radio_button :status, "inactive" %> 無効
    </div>
    
    <div class="form-group">
    <%= link_to "Destroy", admin_post_path(@post.id), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "Are you sure?" %>
    </div>
    
    <div class="form-group">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    
    
    <%= link_to "Back", admin_post_path(@post) %>
  <% end %>
</div>