<div class="container">
  <div class="row">
    <h2 class="px-4 my-4", style="background-color: #FFDBC9;">投稿詳細</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ユーザー</th>
            <th scope="col">タイトル</th>
            <th scope="col">本文</th>
            <th scope="col">投稿画像</th>
            <th scope="col">ステータス</th>
            <th scope="col">タグ</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if @post.status == "inactive" %>
          <tr>
            <td colspan="6">
              <p class="text-danger">この投稿は管理者によって削除されました。</p>
            </td>
          </tr>
          <% else %>
            <tr>
              <td><%= link_to image_tag(@user.get_profile_image(100, 100)), admin_user_path(@user.id) %></td>
              <td><%= @post.title %></td>
              <td><%= @post.body %></td>
              <td><%= image_tag(@post.get_image, size: "100x100") %></td>
              <td>
                <% if @post.status == "active" %>
                  <strong class="text-success">有効</strong>
                <% else %>
                  <strong class="text-muted">無効</strong>
                <% end %>
              </td>
              <td>
                <% @post.tags.each do |tag| %>
                  <%= link_to tag.name, admin_tag_path(tag), class: "badge m-1" %>
                <% end %>
              </td>
              <td class="d-flex"><%= link_to "Edit", edit_admin_post_path(@post.id), class: 'btn btn-sm btn-success' %></td>
              <td class="d-flex"><%= link_to "Destroy", admin_post_path(@post.id), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "Are you sure?" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>