  
     <header class="shadow-sm", style="background-color: #ff8856;" >
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand text-white" href="/"><span>茶腹で一日</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              検索
            </li>
            <% elsif user_signed_in? %>
            <li class="nav-link text-white" style="margin-right: 200px;">
              ようこそ、<%= current_user.name %>さん！
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-circle-user"></i>
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-mug-hot"></i>
              <%= link_to '投稿一覧', posts_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-right-from-bracket"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              検索
            </li>
            <% else %>
            <li class="nav-item">
              <i class="fa fa-solid fa-link"></i>
              <%= link_to 'About', about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-mug-hot"></i>
              <%= link_to '投稿一覧', posts_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-user-plus"></i>
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-right-to-bracket"></i>
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              検索
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel"><%= render 'searches/search' %></h5>
        </div>
      </div>
    </div>
  </div>
