<header class="shadow-sm" style="background-color: #ff8856;">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-white d-flex align-items-center" href="/">
        <span>茶腹で一日</span>
        <i class="fa-solid fa-mug-saucer ml-2"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto align-items-center">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-white d-flex align-items-center' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-white d-flex align-items-center' %>
            </li>
            <li class="nav-item">
              <%= link_to 'タグ一覧', admin_tags_path, class: 'nav-link text-white d-flex align-items-center' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white d-flex align-items-center' %>
            </li>
            <li class="nav-item d-flex align-items-center">
              <button type="button" class="btn btn-outline-light d-flex align-items-center" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass mr-1"></i>
                検索
              </button>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user.id), class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-circle-user mr-1"></i>
                マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-mug-hot mr-1"></i>
                投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white d-flex align-items-center" href="#" data-toggle="modal" data-target="#followModal">
                <i class="fa-solid fa-user-group mr-1"></i>
                フレンド
              </a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-right-from-bracket mr-1"></i>
                ログアウト
              <% end %>
            </li>
            <li class="nav-item d-flex align-items-center">
              <button type="button" class="btn btn-outline-light d-flex align-items-center" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass mr-1"></i>
                検索
              </button>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa fa-solid fa-link mr-1"></i>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-mug-hot mr-1"></i>
                投稿一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-user-plus mr-1"></i>
                新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-white d-flex align-items-center' do %>
                <i class="fa-solid fa-right-to-bracket mr-1"></i>
                ログイン
              <% end %>
            </li>
            <li class="nav-item d-flex align-items-center">
              <button type="button" class="btn btn-outline-light d-flex align-items-center" data-toggle="modal" data-target="#searchModal">
                <i class="fa-solid fa-magnifying-glass mr-1"></i>
                検索
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel"><%= render 'searches/search' %></h5>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="modal fade" id="followModal" tabindex="-1" role="dialog" aria-labelledby="followModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="followModalLabel">フレンド</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to 'フォロー', user_followings_path(current_user), class: 'nav-link' %>
            </li>
            <li class="list-group-item">
              <%= link_to 'フォロワー', user_followers_path(current_user), class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>